html {
    --color: #29231d;
    --background-color: oklch(0.85 0.04 130);
    --primery-color:oklch(0.45 0.2 130);
    --succses:rgb(162, 222, 165);
    --warning:#f3de65;
    --danger:#ef7367;

}

* {
    box-sizing: border-box;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    line-height: 1.5;
    color: var(--color);
    background-color: var(--background-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 2rem;
    gap: 3rem;
    min-height: 75vh;
}

header {
    position:sticky;
    top:0;
    background: oklch(from var(--background-color) l c h/0.7);
    backdrop-filter: blur(5px);
    display: flex;
    min-height: 4rem;
    align-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;

    nav {
        display: flex;
        align-content: center;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        flex: 1;
        flex-wrap: wrap;
    }

    h1 {
        margin: 0;
    }
    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}

header>nav>a {
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    background: oklch(from var(--background-color) calc(l - 0.05) c h);
    color: inherit;
    text-decoration: none;
}

header>nav>a.active {
    background:var(--primery-color);
    color:white;
    
}


header>nav>a:hover {
    background: oklch(from var(--background-color) calc(l - 0.1) c h);
    ;
}

header>nav>a.active:hover {
    background: oklch(from var(--primery-color) calc(l - 0.1) c h);
    ;
}
#routes>article {
    background-color: #9ec489;
    ;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#routes>article:hover {
    background-color: #86ac6e;
}

footer {
    color: oklch(from var(--color) l c h / 0.5);
    padding: 1rem 2rem;
}

.level {
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 0.7rem;


}

.easy {
    color: #29231d;
    background-color:var(--succses);
}

.medium {
    color: #29231d;
    background-color:var(--warning);
}

.hard {
    color: #29231d;
    background-color:var(--danger);
}

.lenght {
    font-weight: 600;
}

#map>img {
    max-width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

@media (max-width: 599px) {

    main {
        grid-template-columns: 1fr;
    }

}

@media (min-width: 600px) and (max-width: 1023px) {

    #routes>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

}

@media (min-width: 1024px) {

    main {
        grid-template-columns: 1fr 1.5fr;
    }

}